[Unit]
Description=Frp Client Daemon
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/opt/frp/bin/frpc -c /opt/frp/conf/frpc_server.ini
ExecReload=/opt/frp/bin/frpc reload -c /etc/frp/frpc_server.ini
Restart=always
RestartSec=20s
User=nobody
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
